@import "../../App.scss";

.traffic {
  width: auto;
  max-width: 230px;
  position: relative;
  &__info {
    width: 134px;
    margin-bottom: 10px;
  }
  &__info-list {
    @include flex;
  }
  &__info-item {
    padding: 0 1.5px;
    span {
      width: 31px;
      height: 5px;
      border-radius: $bd-radius-4;
    }
    &:nth-child(1) span {
      background: $primary-color-10;
    }
    &:nth-child(2)span {
      background: $primary-color-11;
    }
    &:nth-child(3) span {
      background: $primary-color-12;
    }
    &:nth-child(4) span {
      background: $primary-color-13;
    }
  }
  &__info-names {
    @include fl-between;
    p {
      font-size: 12px;
      font-weight: 700;
      line-height: 16px;
    }
  }
  &__desc {
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    margin-bottom: 4px;
  }
  &__date {
    font-size: 8px;
    font-weight: 400;
    line-height: 11px;
  }
  &__info-names p,
  &__desc,
  &__date {
    color: $primary-color-16;
    font-family: $font-family-1;
  }
}
