@import "../../App.scss";

.dailyPP {
    width: 100%;
    height: auto;
    position: relative;
    border-radius: $bd-radius-3;
    background: $primary-color-2;
    overflow: visible !important;
    margin-bottom: 12px;
    &__title {
        color: $white;
        font-size: 18px;
        font-weight: 700;
        line-height: 25px;
        padding: 20px 24px;
        padding-bottom: 0;
        margin-bottom: 14px;
        font-family: $font-family-1;
    }
    // &__item {
    //     width: 100%;
    //     cursor: pointer;
    //     margin-bottom: 9px;
    //     height: auto !important;
    //     box-shadow: $b-shadow-1;
    //     display: flex !important;
    //     border-radius: $bd-radius-2;
    //     background: $primary-color-17;
    //     align-items: center !important;
    //     border: 1px solid $primary-color-18;
    //     padding: 11px 22px 11px 18px;
    //     p,
    //     p span {
    //         color: $primary-color-9;
    //     }
    // }
    &__num {
        margin-right: 42px;
    }
    &__percentage {
        @include flex;
        text-align: right;
        margin-left: auto;
        span {
            @include flex;
            margin-right: 3px;
        }
    }
    &__num,
    &__name,
    &__percentage {
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        color: $primary-color-9;
        font-family: $font-family-1;
    }
    .splide {
        padding: 0 !important;
        width: 100% !important;
        overflow: visible !important;
        padding-bottom: 20px !important;
        .splide__arrow,
        .splide__pagination {
            display: none !important;
        }
        .splide__slide {
            width: 100%;
            cursor: pointer;
            margin-bottom: 9px;
            height: auto !important;
            box-shadow: $b-shadow-1;
            display: flex !important;
            border-radius: $bd-radius-2;
            background: $primary-color-17;
            align-items: center !important;
            border: 1px solid $primary-color-18;
            padding: 11px 22px 11px 18px;
            p,
            p span {
                color: $primary-color-9;
            }
        }
        .is-active {
            border-color: #16f0f0 !important;
            p,
            p span {
                color: $primary-color-5;
            }
            .downParcen,
            .downParcen span {
                color: $primary-color-13 !important;
            }
            .upParcen,
            .upParcen span {
                color: $primary-color-5 !important;
            }
        }
    }
    .splide__track {
        padding: 20px 24px;
        height: 160px !important;
    }
}
// .dailyPPAct {
//     p,
//     span {
//         color: #16f0f0;
//     }
//     border-color: #16f0f0;
// }
