@mixin flex {
    display: flex;
    align-items: center;
}
@mixin fl-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin fl-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@mixin p-absolute {
    top: 0;
    left: 0;
    position: absolute;
}
@mixin p-absolute-tt {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}
@mixin animClick {
    animation: animActItem 0.1s ease;
}
