// colors
$white: #fff;
$black: #000;
$primary-color-1: #04101b;
$primary-color-2: #2c313f;
$primary-color-3: #5c60d1;
$primary-color-4: #18c3be;
$primary-color-5: #16f0f0;
$primary-color-6: #18d7d8;
$primary-color-7: #2d89dd;
$primary-color-8: #6266ea;
$primary-color-9: #a2abc3;
$primary-color-10: #4da9ff;
$primary-color-11: #46d085;
$primary-color-12: #ee8e1d;
$primary-color-13: #dd4f4f;
$primary-color-14: #ffffff0a;
$primary-color-15: #adb5cc;
$primary-color-16: #8b91a5;
$primary-color-17: #393e4f;
$primary-color-18: #4d5365;

// border-radius
$bd-radius-1: 5px;
$bd-radius-2: 7px;
$bd-radius-3: 8px;
$bd-radius-4: 10px;
$bd-radius-5: 24px;
$bd-radius-6: 100px;
$bd-radius-7: 50%;

// b-shadow
$b-shadow-1: 0px 4px 4px rgba(0, 0, 0, 0.25);
$b-shadow-2: 0px 10px 10px rgba(0, 0, 0, 0.25);
$b-shadow-3: 0px 4px 20px rgba(6, 97, 204, 0.38);

// blur
$bp-filter-1: blur(2px);
$bp-filter-2: blur(4px);

// fonts
$font-family-1: "Open Sans";
$font-family-2: "Noto Sans KR";
